.postbox {
    border:none;
}

.acf-fields > .acf-tab-wrap .acf-tab-group li.active a {
    background: #ffffff;
    border-right: 1px solid #ddd;
}

div[data-type='message'] .acf-label {
    margin: 0;
}

div[data-type='message'] .acf-label label {
    font-size:16px;
    margin:0;
}
