body,html {
    @apply overflow-x-hidden
}

p {
    @apply font-normal;
}

.box-shadow {
    box-shadow:0 0 60px 0 rgba(0,0,0,0.1);
}

.box-shadow-md {
    box-shadow:0 0 30px 0 rgba(0,0,0,0.1);
}

.header-sticky.is-sticky {
    position: fixed;
    top:0;
    width:100%;
    z-index:1050;
    animation: slideDown 0.35s ease-out;
}
.header-sticky.is-sticky img {
    max-width: 80%;
}
  /* .header.is-sticky button {
    font-size: 14px;
    padding: 7px 10px;
  } */
  @keyframes slideDown {
    from {
      transform: translateY(-100%);
    }
    to {
      transform: translateY(0);
    }
  }

/* CIRCLE */

.circle {
  @apply relative;
    
      &:before {
          @apply hidden lg:block h-auto absolute lg:-left-4xl -z-[1];
          content: url("data:image/svg+xml,%3Csvg width='418' height='418' viewBox='0 0 418 418' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='209' cy='209' r='209' fill='%23222838' fill-opacity='0.1'/%3E%3C/svg%3E%0A");
      }
}

/* FOOTER */

.footer {
  .book-demo {
    @apply absolute right-0;
  }
}

/* TYPOGRAPHY UTLITY CLASS */

.typo-h1 {
  @apply text-headline-h2 lg:text-headline-h1;
}

.typo-h2 {
  @apply text-headline-h3 lg:text-headline-h2;
}

.typo-h3 {
  @apply text-headline-h3;
}

.typo-h4 {
  @apply text-headline-h4;
}

.typo-h5 {
  @apply text-headline-h5;
}

/* FORM STYLING */

.form-group {
  @apply px-xs flex flex-col md:flex-row gap-3;
}

.form-col {
  @apply w-full;
}

.form-col input {
  @apply p-4 bg-darkBg border border-border text-small rounded-[12px] focus:outline-none transition-all duration-300;
}

.form-col .form-submit input {
  @apply w-full md:w-[144px] bg-primaryBlue cursor-pointer hover:bg-darkBg outline-none hover:border-darkBg text-white font-bold border-primaryBlue;
}

.wpcf7-spinner {
  @apply absolute;
}

.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  border-color: #dc3232;
}

