.breadcrumb-item {
    display:flex;
    align-items:center;
    
    &::after {
        display:block;
        width:18px;
        height:18px;
        content: url("data:image/svg+xml,%0A%3Csvg width='18' height='18' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9 18L15 12L9 6' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
}